* {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.cabecera, header nav, header nav ul, .abecedario {
    display: flex;
}

.cabecera {
    align-items: center;
    background-color: rgb(223, 195, 159);
}

.cabecera .titulos {
    width: 75%;
    text-align: center;
}

.cabecera .imagenPortada {
    width: 20%;
}

header nav {
    width: 100%;
    background-color: brown;
    justify-content: center;
}

header nav ul {
    width: 100%;
    padding: 0;
    list-style: none;
    color: white;
    text-align: center;
    margin: 0;
}

header nav ul li {
    margin: 0;
    width: 20%;
    padding: 1%;
}

header nav ul li a {
    color: white;
    font-size: large;
    text-decoration: none;
}

header nav ul li a i:hover {
    text-decoration: underline;
}

.navResponsive {
    padding: 10px;
    background-color: brown;
    position: absolute;
    top: 2%;
    right: 2%;
    text-align: center;
    border-radius: 100px;
    display: none;
    position: fixed;
}

.navResponsive i {
    font-size: 45px;
    color: white;
    cursor: pointer;
}

.navResponsive i:hover {
    color: rgb(155, 155, 155);
}

.tituloSection {
    margin-left: 2%;
}

.abecedario {
    width: 100%;
    justify-content: center;
    font-size: larger;
    flex-wrap: wrap;
    height: auto;
}

.letras {
    border: 1px solid brown;
    width: 3.5%;
    text-align: center;
    cursor: pointer;
}

.letras:hover {
    background-color: rgba(167, 69, 69, 0.527);
}

@media screen and (max-width:725px){
    .cabecera .imagenPortada {
        display: none;
    }
    .cabecera .titulos {
        width: 100%;
    }
    .navResponsive {
        display: block;
    }
    header nav, header nav ul {
        display: block;
        width: 200px;
        padding: 1%;
        margin: 0;
        text-align: left;
    }
    header nav {
        position: fixed;
        right: 3%;
        top: 11%;
        display: none;
    }
    header nav ul li {
        width: 100%;
        margin: 2%;
    }
    .letras {
        width: 7%;
    }
}

@media screen and (max-width:400px){
    .letras {
        width: 12%;
    }
}

.fondoModal {
    width: 100%;
    height: 100%;
    background-color: rgba(73, 73, 73, 0.39);
    position: fixed;
    top: 0;
    display: none;
}

.modal {
    width: auto;
    min-width: 300px;
    height: auto;
    padding: 3%;
    position: fixed;
    top: 48%;
    left: 48%;
    transform: translate(-48%, -48%);
    z-index: 100;
    background-color: white;
    display: none;
}

.salirModal {
    width: 100px;
    height: 40px;
    color: brown;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 3%;
    border-radius: 5px;
    cursor: pointer;
}

.salirModal:hover {
    background-color: rgba(165, 42, 42, 0.575);
    color: white;
}

.salirModal i {
    font-size: larger;
}

table {
    width: auto;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-self: center;
}

tbody {
    width: auto;
}

.columna, .filaT {
    width: auto;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-bottom-right-radius: 5px;
    text-align: center;
    font-size: medium;
    text-decoration: none;
}

.columna {
    padding: 5px;
}

.columna a {
    color: black;
    text-decoration: none;
}

.columna:hover {
    background-color: rgba(158, 80, 80, 0.507);
}

@media screen and (max-width:400px){
    .columna {
        font-size: small;
        padding-bottom: 10px;
    }
}
