* {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.cabecera, header nav, header nav ul, .abecedario, .parte1, .parte2, .parte3 {
    display: flex;
}

.cabecera {
    align-items: center;
    background-color: rgb(223, 195, 159);
}

.cabecera .titulos {
    width: 75%;
    text-align: center;
}

.cabecera .imagenPortada {
    width: 20%;
}

header nav {
    width: 100%;
    background-color: brown;
    justify-content: center;
}

header nav ul {
    width: 100%;
    padding: 0;
    list-style: none;
    color: white;
    text-align: center;
    margin: 0;
}

header nav ul li {
    margin: 0;
    width: 20%;
    padding: 1%;
}

header nav ul li a {
    color: white;
    font-size: large;
    text-decoration: none;
}

header nav ul li a i:hover {
    text-decoration: underline;
}

.navResponsive {
    padding: 10px;
    background-color: brown;
    position: absolute;
    top: 2%;
    right: 2%;
    text-align: center;
    border-radius: 100px;
    display: none;
    position: fixed;
}

.navResponsive i {
    font-size: 45px;
    color: white;
    cursor: pointer;
}

.navResponsive i:hover {
    color: rgb(155, 155, 155);
}

.tituloSection {
    margin-left: 2%;
    padding-top: 3%;
}

.abecedario {
    width: 100%;
    justify-content: center;
    font-size: larger;
    flex-wrap: wrap;
    height: auto;
    padding-bottom: 5%;
}

.letras {
    border: 1px solid brown;
    width: 3.5%;
    text-align: center;
    cursor: pointer;
}

.letras:hover {
    background-color: rgba(167, 69, 69, 0.527);
}

@media screen and (max-width:725px){
    .cabecera .imagenPortada {
        display: none;
    }
    .cabecera .titulos {
        width: 100%;
    }
    .navResponsive {
        display: block;
    }
    header nav, header nav ul {
        display: block;
        width: 200px;
        padding: 1%;
        margin: 0;
        text-align: left;
    }
    header nav {
        position: fixed;
        right: 3%;
        top: 11%;
        display: none;
    }
    header nav ul li {
        width: 100%;
        margin: 2%;
    }
    .letras {
        width: 7%;
    }
}

@media screen and (max-width:400px){
    .letras {
        width: 12%;
    }
}

.fondoModal {
    width: 100%;
    height: 100%;
    background-color: rgba(73, 73, 73, 0.39);
    position: fixed;
    top: 0;
    display: none;
}

.modal {
    width: auto;
    min-width: 300px;
    height: auto;
    padding: 3%;
    position: fixed;
    top: 48%;
    left: 48%;
    transform: translate(-48%, -48%);
    z-index: 100;
    background-color: white;
    display: none;
}

.salirModal {
    width: 100px;
    height: 40px;
    color: brown;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 3%;
    border-radius: 5px;
    cursor: pointer;
}

.salirModal:hover {
    background-color: rgba(165, 42, 42, 0.575);
    color: white;
}

.salirModal i {
    font-size: larger;
}

table {
    width: auto;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-self: center;
}

tbody {
    width: auto;
}

.columna, .filaT {
    width: auto;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-bottom-right-radius: 5px;
    text-align: center;
    font-size: medium;
    text-decoration: none;
}

.columna {
    padding: 5px;
}

.columna a {
    color: black;
    text-decoration: none;
}

.columna:hover {
    background-color: rgba(158, 80, 80, 0.507);
}

@media screen and (max-width:400px){
    .columna {
        font-size: small;
        padding-bottom: 10px;
    }
}

.busquedaSection {
    background-color: rgb(223, 195, 159);
}

.busqueda {
    display: flex;
    padding: 3%;
    background-color: brown;
}

.busqueda .elementos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.busqueda .elementos label {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.entrada {
    width: 100%;
    max-width: 500px;
    height: 30px;
    outline: none;
    margin-top: 10px;
}

.miniParrafo {
    width: 300px;
    color: white;
    margin-left: 20%;
}

.resultBusqueda {
    height: 300px;
    border-bottom: 1px solid brown;
    overflow-y: scroll;
}

.resultBusqueda h3 {
    margin-left: 20px;
    display: none;
    text-align: center;
}

.listaResult {
    display: flex;
    flex-wrap: wrap;
}

.listaResult li {
    margin: 0.5%;
    list-style: none;
    background-color: white;
    padding: 1%;
    cursor: pointer;
    border-radius: 7px;
}

@media screen and (max-width:600px){
    .listaResult{
        padding: 0;
    }
    .listaResult li{
        margin: 1.3%;
    }
    .resultBusqueda {
        height: 200px;
    }
    .miniParrafo {
        display: none;
    }
}

.listaResult li a {
    color: black;
    text-decoration: none;
}

.listaResult li:hover {
    color: white;
    text-decoration: underline;
    background-color: rgb(211, 104, 104);
}

.listaResult li a:hover {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.parte1, .parte2, .parte3 {
    width: 100%;
    height: 300px;
    background-color: rgb(223, 195, 159);
    flex-wrap: wrap;
}

.tituloAside {
    height: 100px;
}

.parte1 .tituloP1, .parte3 .tituloP3, 
.parte1 .imgP1, .parte3 .imgP3, .parte2 .tituloP2, .parte2 .imgP2 {
    width: 50%;
}

.tituloP1, .tituloP2, .tituloP3 {
    text-align: center;
    margin: auto;
    font-size: x-large;
}

.imgP1, .imgP2, .imgP3{
    /* background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    background-color: white;
}