body {
    margin: 0;
    padding: 0;
    background-color: rgb(223, 195, 159);
    
}

.barra {
    position: fixed;
    top: 0;
}

.contenedor {
    display: flex;
    margin-top: 50px;
}

@media screen and (max-width:725px){
    .barra {
        position: relative;
    }.contenedor {
        margin-top: 10px;
    }
}

.contenedor .titulo {
    font-size: xx-large;
    color: brown;
    width: 100%;
    word-wrap: break-word;
}

section {
    width: 75%;
    background-color: white;
    margin: 2%;
    margin-right: 0;
}

section article {
    padding: 3%;
    text-align: justify;
}

aside {
    width: 300px;
    margin: 2%;
    margin-left: 0;
    background-color: white;
    border-left: 10px solid brown;
}

.tituloAside2 {
    padding: 5%;
    margin-top: 7%;
    text-align: center;
    border-bottom: 1px solid brown;
}

article p {
    font-size: larger;
}

.lectura {
    cursor: pointer;
}

.lectura:hover {
    text-decoration: underline;
}

.imprimir {
    background-color: white;
    color: brown;
    font-weight: bolder;
    padding: 2%;
    margin: 3%;
    cursor: pointer;
    border-radius: 5px;
}

.imprimir:hover {
    background-color: rgb(253, 198, 198);
}

.tituloWords {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tituloWords .twL, .tituloWords .twV  {
    width: 50%;
    text-align: center;
    font-weight: bold;
}

.tituloWords .twV {
    border-left: 1px solid black;
}

.words {
    padding: 3%;
}

.botones {
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 15px;
}

.botones .verde, .botones .rojo  {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.botones .verde {
    border: 1px solid green;
}

.botones .rojo {
    border: 1px solid red;
}

.botones .verde:hover {
    background-color: rgba(0, 128, 0, 0.301);
}

.botones .rojo:hover {
    background-color: rgba(255, 0, 0, 0.301);
}

.lectBotn, .conteo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media print {
    .barra, aside, footer {
        display: none;
    }
    section {
        width: 100%;
        margin: 2%;
    }
    .contenedor{
        margin: 0;
    }
    .lectura {
        font-weight: bold;
    }
}

footer div p a:hover {
    text-decoration: underline;
}

/* footer div {
    border: 1px solid white;
} */


.textoFooter {
    width: 25%;
}

.colores {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

@media screen and (max-width:790px){
    .colores{
        width: 100%;
        padding-bottom: 3%;
    }
}

.colores h3 {
    width: 100%;
}

.cuadros {
    display: flex;
    width: 100%;
    justify-content: center;
}

.cuadros .azulC, .cuadros .verdeC, .cuadros .naranjaC, .cuadros .lilaC, .cuadros .beigeC, .cuadros .brownC {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 7px;
    cursor: pointer;
}

@media screen and (max-width:385px){
    .cuadros .azulC, .cuadros .verdeC, .cuadros .naranjaC, .cuadros .lilaC, .cuadros .beigeC, .cuadros .brownC {
        width: 35px;
        height: 35px;
    }
}

.azulC {
    background-color: aquamarine;
}
.verdeC {
    background-color: lightgreen;
}
.naranjaC {
    background-color: sandybrown;
}
.lilaC {
    background-color: plum;
}
.beigeC {
    background-color: bisque;
}
.brownC {
    background-color: brown;
}

/* .azulC:hover {
    background-color: aquamarine;
}
.verdeC:hover {
    background-color: lightgreen;
}
.naranjaC:hover {
    background-color: sandybrown;
}
.lilaC:hover {
    background-color: plum;
}
.beigeC:hover {
    background-color: lightgoldenrodyellow;
} */

@media screen and (max-width:850px){
    .contenedor {
        flex-wrap: wrap;
    }
    aside, section {
        width: 100%;
        margin: 1%;
    }
}